body{
	background-color: #ffffff;
}

#container{
	width: 1028px;
	height: 1040px;
	background-color: #000000;
}

header{
	background-color: #ddcb7f;
	height: 288px;
}

.my-button{
	padding: 20px;
	color: #ddcb7f;
	background-color: #ca3f02;
	display: inline-block;
}

.left{
	width: 528px;
	height: 642px;
	padding: 20px;
	background-color: #000000;
	float: left;
}

.skirts{
	width: 100%;
}

p{
	width: 248px;
	padding: 0px 0px 40px 20px;
	color: #ffffff;
}

.right{
	width:400px;
	height: 642px;
	padding: 20px;
	background-color: #000000;
	float: left;
}

h3{
	color: #ffffff;
}

ul.likes > li{
	color: #ffffff;
	list-style-type: square;
}

img{
	padding: 20px;
}


.large{
	width: 328px;
	height: 672px;
	background-color: #000000;
	float: left;
}

.medium{
	width: 328px;
	height: 672px;
	background-color: #000000;
	float: left;
}

.small{
	width: 372px;
	height: 672px;
	background-color: #000000;
	float: left;
}
